


#drawerClose {
    float: right;
    position: relative;
    top: -45px
}

/************************************
 StackView styling
 ************************************/

#stackContainer {
    margin-top: 30px;
    padding: 0px;
    position: relative;
    height: 200px;
    overflow: hidden;
}

#stackContainerFader div {
    background-color: #d1d1d1;
    height: 200px;
    border: 1px solid #b9b9b9;
}

.page {
    position: absolute;
    padding: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d1d1d1;
    border: 1px solid #b9b9b9;
}

/************************************
   StackView sliders
/************************************

/************************************
 Hardware accelerated horizontal
/************************************

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

/************************************
 Software accelerated horizontal
/************************************

.page.left {
    left: -100%;
}

.page.center {
    left: 0;
}

.page.right {
    left: 100%;
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

/************************************
Software accelerated vertical
/************************************

.page.left {
    top: -100%;
}
.page.center {
    top: 0;
}
.page.right {
    top: 100%;
}
.page.transition {
    -webkit-transition-duration: 3.25s;
    transition-duration: 0.65s;
}

/************************************
 Hardware accelerated vertical
/************************************

.page.left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page.right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.page.transition {
    -webkit-transition-duration: 3.25s;
    transition-duration: 3.25s;
}
*/

.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.page.transition {
    -webkit-transition-duration: .55s;
    transition-duration: .55s;
}





.images { position: relative; padding: 0; cursor: pointer; }
.images li { list-style: none; }
.images li img {
    position: absolute;
    top: 0; left: 0;
    display: none;
}